<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Eco_input_page" appConnect="local" -->
<meta name="ac:route" content="/Eco_input_page">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Input relation entreprise&nbsp;&nbsp;</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Funktion</th>
                        <th scope="col">Firma</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <div class="dropdown">
                                <button id="dropdown1" class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vælg funktion&nbsp; &nbsp;</button>
                                <div class="dropdown-menu" aria-labelledby="dropdown1">
                                    <a class="dropdown-item" href="#">Entreprenør</a>
                                    <a class="dropdown-item" href="#">Bygherre</a>
                                    <a class="dropdown-item" href="#">Konto</a>
                                </div>
                            </div>
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>