<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<meta name="ac:route" content="/">
<link rel="stylesheet" href="css/style.css" />

<div class="container">
    <div class="row">
        <div class="col">
            <h1>TraxIT for fun</h1>
        </div>
    </div>
</div>